.content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.intro{
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/* Desktop */

    .intro__title {
        width: 830px;
        height: 173px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 900;
        font-size: 54px;
        line-height: 58px;
        color: #FFFFFF;
    }
    .intro__subheading {
        width: 738px;
        height: 135px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 34px;
        color: #FFFFFF;
    }
    .intro__author {
        display: flex;
        justify-content: end;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 34px;
        justify-content: end;
        color: #FFFFFF;
    }
    
    .intro__text {
        width: 722px;
        height: 181.54px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 163%;
        color: #FFFFFF;
    }
    .lead__title {
        /* width: 720px;
        height: 200px; */
        font-family: 'Inter';
        font-style: normal;
        font-weight: 900;
        font-size: 96px;
        line-height: 100px;
        text-align: center;
        color: #FFFFFF;
    }
    .lead__home {
        /* width: 720px;
        height: 72px; */
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
        text-align: center;
        color: #FFFFFF;
    }
    .lead__image {
        width: 100%;
    }

@media (max-width: 1024px){
    .intro__title{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 900;
        font-size: 45px;
        line-height: 49px;
        color: #FFFFFF;
    }
    .intro__subheading{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 34px;
        color: #FFFFFF;
    }
    .intro__author{
        display: flex;
        justify-content: end;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 34px;
        text-align: right;
        color: #FFFFFF;
    }
    .intro__text{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 163%;
        color: #FFFFFF;
    }
    .lead__title {
        margin-top: 90px;
        margin-bottom: 25px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 900;
        font-size: 75px;
        line-height: 79px;
        text-align: center;
        color: #FFFFFF;
    }
    .lead__home {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
        text-align: center;
        color: #FFFFFF;
    } 
    .lead__image{
        margin-left: 0;
        padding: 0;
        width: 100%;

    }
}

/* Celulares */
@media (max-width: 544px){
    .intro__title{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 35px;
        color: #FFFFFF;
    }
    .intro__subheading{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
        color: #FFFFFF;
    }
    .intro__author{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 34px;
        text-align: right;
        color: #FFFFFF;
    }
    .intro__text{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 163%;
        color: #FFFFFF;
    }
    .lead__title {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 44px;
        text-align: center;
        color: #FFFFFF;
    }
    .lead__home {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;
    }
    .lead__image{
        margin-left: 0;
        padding: 0;
        width: 100%;
    }
}
