.header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/* Desktop */

    .header__logo {
        margin-top: 35px;
    }




/* Tablets  */
@media (max-width: 1024px){
    .header__logo {
        margin-top: 30px;

    }


}

/* Celulares */
@media (max-width: 544px){
    .header__logo {
        margin-top: 20px;

    }

}