body {
    background-color: #2A2C2F;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Desktop */
@media (min-width: 1025px) {
    .logo__header {
        margin-top: 35px;
    }
/* 
    .prueba_txt {
        color: yellow;
    } */

    .title__home {
        width: 720px;
        height: 200px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 900;
        font-size: 96px;
        line-height: 100px;
        text-align: center;
        color: #FFFFFF;
    }

    .img__main {
        margin-left: 148px;
        margin-right: 148px;
        width: 100%;
    }

    .p__home {
        width: 720px;
        height: 72px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
        text-align: center;
        color: #FFFFFF;
    }

    .subheading__home {
        width: 830px;
        height: 173px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 900;
        font-size: 54px;
        line-height: 58px;
        color: #FFFFFF;
    }

    .p__subheading__home {
        width: 738px;
        height: 135px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 34px;
        color: #FFFFFF;
    }

    .p__subheading__author {
        display: flex;
        justify-content: end;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 34px;
        justify-content: end;
        color: #FFFFFF;
    }

    .subheading__text {
        width: 722px;
        height: 181.54px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 163%;
        color: #FFFFFF;
    }

    .footer__author {
        width: 194px;
        height: 16px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        text-align: right;
        color: #FFFFFF;
    }
}



/* Tablets  */
@media (max-width: 1024px) {
    .logo__header {
        margin-top: 30px;

    }

    /* .prueba_txt {
        color: blue;
    } */

    .title__home {
        margin-top: 90px;
        margin-bottom: 25px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 900;
        font-size: 75px;
        line-height: 79px;
        text-align: center;
        color: #FFFFFF;
    }

    .img__main {
        margin-left: 0;
        padding: 0;
        width: 100%;

    }

    .p__home {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
        text-align: center;
        color: #FFFFFF;
    }

    .subheading__home {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 900;
        font-size: 45px;
        line-height: 49px;
        color: #FFFFFF;
    }

    .p__subheading__home {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 34px;
        color: #FFFFFF;
    }

    .p__subheading__author {
        display: flex;
        justify-content: end;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 34px;
        text-align: right;
        color: #FFFFFF;
    }

    .subheading__text {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 163%;
        color: #FFFFFF;
    }

    .footer__author {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        text-align: right;
        color: #FFFFFF;
    }

}

/* Celulares */
@media (max-width: 544px) {

    .title__home {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 44px;
        text-align: center;
        color: #FFFFFF;
    }

    /* .prueba_txt {
        color: red;
    } */

    .img__main {
        margin-left: 0;
        padding: 0;
        width: 100%;
    }

    .p__home {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;
    }

    .subheading__home {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 35px;
        color: #FFFFFF;
    }

    .p__subheading__home {

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
        color: #FFFFFF;
    }

    .p__subheading__author {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 34px;
        text-align: right;
        color: #FFFFFF;
    }

    .subheading__text {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 163%;
        color: #FFFFFF;
    }

    .footer__author {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        color: #FFFFFF;
    }


}